@font-face {
	font-family:'Newton Sans';
	src: url('/Fonts/NewtonSans.eot');
	src: url('/Fonts/NewtonSans.eot?#iefix') format('embedded-opentype'),
		url('/Fonts/NewtonSans.woff') format('woff'),
		url('/Fonts/NewtonSans.ttf') format('truetype'),
		url('/Fonts/NewtonSans.otf') format('opentype'),
		url('/Fonts/NewtonSans.svg#NewtonSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0021-1F773;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro);

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {

    font-family: 'Newton Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Source Code Pro', ; */
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}