@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Planets</h2>

<div class="body-content">
    <ul>
        <li><a href="./PlanetList/">Planet List</a></li>
        <li><a href="./PlanetListWithPaths/">Planet List with Paths</a></li>
    </ul>
</div>