
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paths</h2>

<div class="body-content">
    <ul>
        <li><a href="./PathList/">Path List</a></li>
    </ul>
</div>