@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Tree of Life</h1>
    <p class="lead">Some information about the Tree of Life.</p>
    <p>Some information about Qabalah in general.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Paths</h2>
        <p>
            The paths on the Tree of Life.
        </p>
        <p><a class="btn btn-default" href="/Path/">Paths &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something</h2>
        <p>
            Here is some text.
        </p>
        <p><a class="btn btn-default" href="/">Something &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Something</h2>
        <p>
            Here is some text.
        </p>
        <p><a class="btn btn-default" href="/">Something &raquo;</a></p>
    </div>
</div>